@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background: linear-gradient(
    91.1deg,
    rgb(57, 31, 105) -2.3%,
    rgb(115, 43, 155) 44.4%,
    rgb(231, 75, 184) 103.4%
  );
}
